<!DOCTYPE html>
<html lang="az" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
    <label for="currency">Choose a currency:</label>
    <select name="currency" id="currency">
        <option th:each="currency: ${currencies.getValute()}" th:value="${currency.getCode()}"
                th:text="${currency.getCode()}"></option>
    </select>
    <input type="number" name="currency_value" placeholder="Input currency">
    <br>
    <label for="currency">Choose a currency:</label>
    <select name="currency" id="currency2">
        <option th:each="currency: ${currencies.getValute()}" th:value="${currency.getCode()}"
                th:text="${currency.getCode()}"></option>
    </select>
    <input type="number" disabled name="currency_value" placeholder="Input currency">
    <br>
    <input value="Exchange" type="submit">
</form>
</body>
</html>